.sideBarNav{
    width: 205px;
    height: 100%;
    background: #2D62ED;
    overflow-y: auto;
}
.navMenu{
    cursor: pointer;
    font-size: 13px;
    align-items: center;
    font-weight: 600;

}


.navMenu a {
    color: #dfdfdfc2;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 28px;
    margin: 20px 0px;
    transition: 500ms;
    border-left: 3px solid transparent;
    min-height: 42px;

}
.navMenu a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border-left: 3px solid;
    transition: 500ms;
    
}
.nav-title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
    letter-spacing: 0.2px;
}
.navMenu svg{
    opacity: .5;
    width: 18px;
}
.navMenu:hover svg{
    opacity: 1;
}
.sideBarNav .active a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border-left: 3px solid;
    transition: 500ms;
    background-color: #1748c5;
}
.sideBarNav .active svg{
    opacity: 1;
}