.btn-primary {
  background-color: #2D62ED;
  border-color: #2D62ED;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2D62ED;
  border-color: #2D62ED;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #2D62ED;
  border-color: #2D62ED;
  -webkit-box-shadow: 0 0 0 0.2rem #2D62ED4d;
          box-shadow: 0 0 0 0.2rem #2D62ED4d;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2D62ED;
  border-color: #2D62ED;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #2D62ED41;
          box-shadow: 0 0 0 0.2rem #2D62ED41;
}

.primary-color {
  background: #2D62ED;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.dashboard-page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.box-shadow {
  width: 100%;
  height: 100%;
  min-height: 100px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 10px 20px;
}

.table-shadow {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  overflow: hidden;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 15px 40px;
}

.jcb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-lg {
  font-size: 25px;
  color: #272D3B;
  font-weight: bold;
  margin-bottom: 10px;
}

.title-md {
  font-size: 18px;
  font-weight: bold;
  color: #272D3B;
  margin-bottom: 10px;
}

.title-sm {
  font-size: 14px;
  font-weight: 600;
  color: #272D3B;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.red-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF007C;
  margin-right: 10px;
}

.aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-sm {
  font-size: 13px;
  opacity: 0.5;
  color: #272D3B;
}

.bg-purple {
  background: #7D00B5 !important;
}

.pointer {
  cursor: pointer;
}

.notification .dropdown-menu {
  display: block;
  -webkit-box-shadow: 0px 2px 6px #272d3b33;
          box-shadow: 0px 2px 6px #272d3b33;
  border: 0px;
  padding: 20px 40px;
  border-radius: 20px;
  width: 350px;
  margin-top: 15px !important;
}
/*# sourceMappingURL=main.css.map */