.card-action-icon svg{
    width: 35px;
    cursor: pointer;
}
.user-profile{

    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-lg{
    width: 70px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
}
.profile-md{
    width: 45px;
    height: 45px;
    font-size: 15px;
    font-weight: 600;
}
.profile-sm{
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
}
.user-profile img{
    width: 100%;
}

.forum-reply-profile{
    padding-right: 10px;
}
.activeBox-div{
    width: 14px;
    height: 14px;
    border-radius: 2px;
}
.on-going .activeBox-div{
    background: #FFCCE5;
    border: 1px solid #FF007C;
}
.delayed .activeBox-div{
    background: #BEBDBC;
    border: 1px solid #3D3D3D;
}
.upcoming .activeBox-div{
    background: #E5CCF0;
    border: 1px solid #7D00B5;
}
.complete .activeBox-div{
    background: #0AADE833;
    border: 1px solid #00CCF2;
}