.ass-foo-border{
  border-top: 1px solid #0000003E;
  padding-top: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.bulk-upload{
  padding: 40px 20px;
  border: 1px solid #DDDDDD;
  width: 100%;

}
.custom-file-upload {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: right;
  margin-bottom: 0px;
}
.bulk-upload input{
  display: none;
}
.file-upload{
  border: 1px solid #DDDDDD;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
    padding: 19px;
}
.MuiButton-containedPrimary:hover {
  background-color: #000000 !important;
}
.MuiButton-containedPrimary {
  color: #fff;
  background-color: #000109 !important;
}
.ass-step .MuiPaper-root{
  background-color: rgba(255, 255, 255, 0) !important;
}
.upload-width{
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}